Source: fiv
Section: unknown
Priority: optional
Maintainer: Simon Arlott <ubuntu@sa.me.uk>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: fiv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fast image viewer
